<!DOCTYPE html>
<html>

<head>
	<title>Dashboard</title>
	<style>
		body {
			width: 100%;
		}

		#mySensor {
			margin-left: 10%;
			width: 400px;
			max-height: 600px;
			min-height: 300px;
			float: left;
			line-height: 1.5rem;
		}

		#detail {
			line-height: 1.5rem;
			width: auto;
			max-height: 600px;
			min-height: 300px;
			float: left;
		}

		button .itemsensor {
			width: auto;
			border: 1px solid #cfcfcf;
			margin: 10px;
			padding: 3px;
			text-align: center
		}

		button .itemsensor:hover {
			color: white;
			background-color: rgb(13, 211, 43);
		}

		button .itemsensor:active,
		.active {
			background-color: rgb(12, 202, 40);
		}

		.notify {
			text-align: center;
			display: none;
			color: white;
		}
	</style>
</head>

<body>
	<div id="mySensor" style="position:relative;border: 1px solid #bbbbbb; margin-right: 30px; padding: 30px">
		<div style="border-bottom: 1px solid #bbbbbb; text-align:center; ">Danh sách các Sensor của bạn!</div>
		<br>
		<div id='list-container' style="overflow:auto; max-height: 270px; margin-bottom: 30px"></div>
		<div style="position:absolute; bottom: 5px">
			<div class='notify notify-failed' style="background-color:rgb(233, 38, 38); ">
				<span class='notify-text'></span>
			</div>
			<div class='notify notify-success' style="background-color:rgb(53, 211, 32);">
				<span class='notify-text'></span>
			</div>
			<input id="ipadd" type="text" name="Text" placeholder="Địa chỉ IP sensor">
			<button id="btnaddsensor" type="button" onclick="">Thêm sensor</button>
		</div>


	</div>
	<div id="detail" style="border: 1px solid #bbbbbb; margin-right: 30px; padding: 30px">
		<span>Thông tin chi tiết Sensor của bạn!</span>
		<br> Name Sersor:
		<span id="name"> null</span>
		<br> Protocol:
		<span id="protocol"> null</span>
		<br> Ip Address:
		<span id="ip"> null</span>
		<br>
		<br>
		<div id='datasensor' style="border: 1px solid #bbbbbb; margin-right: 30px; padding: 30px">

		</div>
		<br>
		<span> Các phương thức điều khiển : </span>
		<form action="" style="display : none">
			<span> Bật tắt đèn</span>
			<input id='rbnG' name="color" type="radio" value="G"> xanh </button>
			<input id='rbnR' name="color" type="radio" value="R"> đỏ </button>
			<input id='rbnB' name="color" type="radio" value="B"> dương </button>
		</form>
		<button id='postTest' type="button" onclick="" style="display : none"> ON </button>
		<br>
		<br>
		<span style="display : none"> Chuỗi led</span>
		<input type="text" name="Text" placeholder="Gửi đoạn văn bản" style="display : none">
		<button id='postTest' type="button" onclick="" style="display : none"> POST </button>
	</div>
</body>

</html>
<script src="./js/jquery-3.2.1.min.js"></script>
<script>
	$(function () {
		const HOST = 'http://127.0.0.1:3000'
		var listSensor = []
		var functions = {
			deleteList: function (item) {
				listSensor.push(item)
			},
			insertList : function (item) {
			listSensor[item._id] = item
			$("#list-container").append("<button id='" + item._id + "'" + " class='itemsensor'>" + item.ip + "</button>")
			$("#" + item._id).on("click", function (event) {
				// alert("The paragraph was clicked."  + listSensor[item._id].name );
				$('#name').text(listSensor[item._id].name)
				$('#protocol').text(listSensor[item._id].protocol)
				$('#ip').text(listSensor[item._id].ip)
			})
		},
		getData: function(){
			$.ajax({
				url: "/api/sensor/create",
				method: 'GET',
				contentType: 'application/json',
				dataType: "json",
				headers: {
					token: localStorage.getItem('token'),
				},
				success: function (result) {
				return result 
				},
				error: function (jqXHR, exc) {
					
				}
			});
		}

		}
		$("#btnaddsensor").on("click", function (event) {
			var data = {
				ip: $("#ipadd").val(),
				username: localStorage.getItem('username')
			}
			$.ajax({
				url: "/api/sensor/create",
				method: 'POST',
				contentType: 'application/json',
				dataType: "json",
				headers: {
					token: localStorage.getItem('token'),
				},
				data: JSON.stringify(data),
				success: function (result) {
					insertList(data)
					$(".notify-text").text('Add sensor successful');
					$(".notify-failed").hide();
					$(".notify-success").show();
				},
				error: function (jqXHR, exc) {
					let json = $.parseJSON(jqXHR.responseText)
					$(".notify-text").text(json.status);
					$(".notify-success").hide();
					$(".notify-failed").show();
				}
			});
		})

		$(function (event) {
			var data = {
				username: localStorage.getItem('username')
			}
			$.ajax({
				url: "/api/sensor",
				method: 'GET',
				contentType: 'application/json',
				dataType: "json",
				headers: {
					token: localStorage.getItem('token'),
				},
				data: data,
				success: function (result) {
					result.map((element, i) => {
						insertList(element)
					})
					$(".notify-failed").hide();
				},
				error: function (jqXHR, exc) {
					let json = $.parseJSON(jqXHR.responseText)
					$(".notify-text").text(json.status);
					$(".notify-success").hide();
					$(".notify-failed").show();
				}
			});
		})

	})
</script>