<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<meta charset="utf-8"/>
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<style>
			#login{
				margin-left: 38%;
				width: 15%;
			}
			.dn, #font{
				margin-left: 35%;
				
			}
			.formlogin {
				margin-left: 20%;
				margin-right: 25%;
				margin-top: 12%;  
				}
			
	</style>
	<nav>
		<div class="nav-wrapper pink darken-4 #ff4081"><a id="font" class="brand-logo">Secure Service Manager </a></div>
	</nav>
	<form class="formlogin" action="/api/login">
		<h4 class="dn">Đăng nhập</h4>
			User name:
		<br>
		<input id='username' type="text" name="username" class="col s11 m8 l6">
		<br> Password:
		<br>
		<input id='password' type="password" name="psw" class="col s11 m8 l6">
		<br>
	</form>
	<br>
	<button id='login' class="waves-effect waves-light btn pink darken-4 #880e4f">Login</button>
	<br>
	<br>
	<div class='notify-failed' style="text-align:center; display:none; background-color:rgb(233, 38, 38); color: white; width: 300px; height: 30px">
		<span class='notify-text'></span>
	</div>
	<div class='notify-success' style="text-align:center; display:none; background-color:rgb(53, 211, 32); color: white; width: 300px; height: 30px">
		<span class='notify-text'></span>
	</div>
</body>

</html>
<script>
	$(function () {
		const HOST = 'http://127.0.0.1:3000'
		$("#login").on("click", function (event) {
			var username = $('#username').val();
			var password =  $('#password').val();
			localStorage.removeItem('token')
			localStorage.removeItem('username')
			$.ajax({
				url: "/api/login",
				method: 'POST',
				contentType: 'application/json',
				dataType: "json",
				data: JSON.stringify({
					username: username,
					password: password
				}),
				success: function (result) {
					localStorage.setItem('token',result.token)
					localStorage.setItem('username', username)
					Materialize.toast('Loggin successful', 4000);
			
					window.location.href = HOST + "/dashboard/?username=" + username + "&token=" + result.token;					
				},
				error: function (jqXHR, exc) {
					let json = $.parseJSON(jqXHR.responseText)
					Materialize.toast(json['status'], 4000);
				}
			});
		})
	}

	)

</script>